service: lambda-pov-bv

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs6.10
  region: ap-southeast-2
  deploymentBucket: lambda-pov-bv-dev-bucket

functions:
  getShiftCoverage:
    handler: handler.getShiftCoverage
    events:
      - http:
          path: pulse/summary/shiftCoverage
          method: get
          cors: true
  getS3ObjectList:
    handler: handler.getS3ObjectList
    events:
      - http:
          path: getS3ObjectList
          method: get
          cors: true
